@model PlaylistViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Update Playlist!</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card p-3">
            <form asp-controller="Playlists" asp-action="Update" method="post" class="form" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div> <!--UL list -->

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <hr />

                <label>Attach Image</label><br />
                <input type="file" name="ImageFile" class="btn btn-success btn-round" />
                <hr />
                <button type="submit" class="btn btn-primary btn-round"><i class="tim-icons icon-send"></i></button>
            </form>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>